body {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

button {
    cursor: pointer;
}

.app-container {
    margin: 25px;
    position: relative;
}

#app {
    background-color: black;
}

.battle-interface {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.enemy {
    align-self: flex-start;
}

.mon-info {
    margin: 25px;
    padding: 12px;
    width: 40%;
    background-color: rgb(227, 224, 224);
}

.mon-info .name {
    margin: 0;
}

.menu {
    height: 33%;
    width: 100%;
    display: flex;
}

.status {
    flex: 1;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    background-color: aliceblue;
}

.status p {
    max-width: 500px;
    text-align: center;
}

.options {
    background-color: black;
    margin: 0;
    padding: 0 24px;
    list-style-type: none;

    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    justify-content: space-around;

    gap: 12px;
    
    height: 100%;
    flex: 1
}

.options button {
    font-size: 24px;
    padding: 10px 14px;
    width: 100%;
    text-align: left;
}

.options li {
    width: 45%;
}
